@media (max-width:1500px){
    .heading-contact{
        margin-bottom: 60px !important ;
        margin-top: 90px;
    }

    .img-home{
        width: 400px;
    }
   
    .heading-product{
        margin-bottom: 60px !important;
        margin-top: 90px;
    }

    .row .col-md-6{
        width: 90%;
    }

        
    .card-product{
     left: 60px;
    }



    .container-content{
      left: 50px;  
    }
    
    .contact-form{
        height: 110vh;
    }

    .about-us-conteiner{
        height: 100vh;
    }

    .testimonial{
        height: 110vh;
    }
    
}

@media (max-width:1200px){

    .about-us{
        height: 400px;
    }

    .card-product{
        width: 100%;
        
    }

    
}

@media (max-width:500px){
    
    /*acomodando header de espacio*/
    .header{
    height: 110vh;

    }
    /*acomodando contenedor de about*/

    .about-us-conteiner{
    height: 60vh;

    }

    .heading-about{
    font-size: 15px;
    }

    .img-about{
    display: none;
    }

    .about-us{
        height: 420px;
    }

    /*acomodando producto*/


    .card-text{
        display: none;
    }
        
    .card-product{
        left: 20px;
        
    }

    .Product-category{
        height: 50vh;
    }

   /*edicion de comentarios*/

   .container-content{
     width: 80%;
     height: 200px;
     left: 20px;
   }
    
   .img-client{
    width: 50%;
    height: 50%;
   }

   .para-client{
    display: none;
   }

   /*edicion de contactos*/

   #boton{
    
    margin-bottom: 60px !important ;
    margin-top: 50px;
   }

   

   #contenedor{
    height: 80vh;
   }

   footer{
    margin-top: 100px !important;
   }


  
}

@media (max-width:500px) {

    .ms-auto{
        align-items: center;
    }
    .img-home{
        display: none;
    }

    .content-home2{
        height: 50vh;
    }

    .para-home, .home-heading, .btn-home{
        padding: 10px;
    }

    .home-heading{
        font-size: 35px;
    }

    .header{
        height: 50vh;
    }
    .about-us-conteiner{
        height: 80vh;
    }

    .link-about{
        left: 80px;
    }

    .btn-product-ctg{
        font-size: 8px;
    }

    .card-title{
        font-size: 8px;
    }

    .heading-product{
        font-size: 25px;
    }

    .styling{
        font-size: 25px;
    }

    .para-testimonial{
        font-size: 10px;
    }

    .img-clients{
        width: 120px;
        height: 120px;
        padding: 10px;
    }

    .container-content{
        margin-bottom: 50px;
    }

    .testimonial{
    height: 145vh;

    }

    .heading-contact{
        font-size: 25px;
        margin-top: 90px !important;
    }

    
    #contenedor{
        height: 150%;
    }

    .content-contact{
        margin-top: 60px !important;
        margin-bottom: 65px;
    }
    .heading-content{
        font-size: 25px;
        padding: 25px;
        margin: 5px;
        margin-top: 35px;
    }

    .para-content{
        font-size: 10px;
        margin: 0%;
    }








}
